body {
    background: #333333;
.container {
    margin: 0 auto;
     }
.mainLook {
    background: #393939;
    border-radius: 10px;
    width: 1011px;
    height: 615px;
    border: 7px dashed #FDFD96;
    }
}